* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-size: 16px;
  background-color: black;
  cursor: url('../img/cursor.png'), auto;
}

.mobile-scroll {
  overflow: hidden;
  height: 100vh;
  font-size: 16px;
}

.container {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 40% 1fr;
  grid-template-rows: 1fr 50% 1fr;
}

.bg-image {
  grid-column: 1 / span 3;
  grid-row: 1 / span 3;
  background-image: linear-gradient(
    rgba(0, 0, 0, 0.8), 
    rgba(17, 17, 17, 0.8)
  ), url('../img/cover-art.jpg');
  background-size: cover;
  background-position: center;
  filter: blur(5px);
  height: 100%;
  z-index: -1;
}
.header {
  grid-column: 2 / span 1;
  grid-row: 1 / span 1;
  font-size: 65px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

#title {
  font-family: 'Reenie Beanie', cursive;
  color: white;
  padding-bottom: 20px;
  transition: all .4s;
}

.video-container {
  grid-column: 2 / span 1;
  grid-row: 2 / span 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.video {
  border-radius: 10px;
  width: 100%;
  height: 100%;
}

.socials {
  grid-column: 2 / span 1;
  grid-row: 3 / span 1;
  text-align: center;
  padding-top: 20px;
}

.socials i {
  padding: 0 10px;
  font-size: 32px;
  color: white;
  transition: all .2s;
  height: auto;
}

.socials i:hover {
  transform: translateY(-5px);
}

.bio {
  grid-column: 2 / span 1;
  grid-row: 3 / span 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding-bottom: 10px;
}

.bio-btn i {
  color: white;
  font-size: 32px;
  transition: all .2s;
}

.bio-btn span::after {
  display: block;
}

.bio-btn {
  font-family: 'Cormorant Unicase', serif;
  font-size: 32px;
  background: none;
  border: none;
  color: white;
  transition: all .2s;
}

.bio-btn:hover {
  transform: translateY(-5px);
}

#slide-up {
  height: 100vh;
  transition: all 1.5s ease-out;
  background-image: linear-gradient(
    rgba(0, 0, 0, 0.8), 
    rgba(17, 17, 17, 0.8)
  ), url('../img/bio-pic.jpg');
  background-size: cover;
  background-position: top;
  position: relative;
}

.bio-hide-btn {
  background: none;
  border: none;
  font-size: 40px;
  color: white;
  display: block;
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translateX(-50%, -5%);
  transition: all .2s;
}

.bio-hide-btn:hover {
  transform: translateY(5px);
  cursor: inherit;
}

@media screen and (max-width: 1600px) {
  .container {
    grid-template-columns: 1fr 50% 1fr;
  }
}

@media screen and (max-width: 1300px) {
  .container {
    grid-template-columns: 1fr 60% 1fr;
  }

  .header {
    font-size: 50px;
  }
}

@media screen and (max-width: 900px) {
  .container {
    grid-template-columns: 1fr 70% 1fr;
    grid-template-rows: 1fr 40% 1fr;
  }

  .header {
    font-size: 50px;
  }
}

@media screen and (max-width: 700px) {
  .container {
    grid-template-rows: 1fr 30% 1fr;
  }

  .header {
    font-size: 32px;
  }

  .socials i {
    font-size: 25px;
  }
}

@media screen and (max-width: 460px) {
  .container {
    grid-template-rows: 1fr 25% 1fr;
  }

  .header {
    font-size: 25px;
  }

  .socials i {
    padding-top: 10px;
  }
}

@media screen and (max-width: 340px) {
  .container {
    grid-template-rows: 1fr 20% 1fr;
  }

  .header {
    font-size: 20px;
  }
}